fastapi==0.115.0

starlette>=0.36.0
uvicorn[standard]>=0.27.0
alembic>=1.12.0


sycopg[binary,pool]>=3.1.0  # solo si haces tareas sync con Alembic, opcional
python-dotenv>=1.0.0         # si cargas .env


jinja2==3.1.4
python-multipart==0.0.9

sqlalchemy[asyncio]==2.0.29
asyncpg==0.29.0
alembic==1.13.1

passlib[bcrypt]==1.7.4

pandas==2.2.1
openpyxl==3.1.2

reportlab==4.1.0
python-dateutil==2.9.0.post0

itsdangerous==2.2.0

